# Chat-ui (restricted)
rschat.{$BASE_DOMAIN} {
    root * /var/www/restricted-chat-ui
    file_server
}

# Standard Chat-ui 
stchat.{$BASE_DOMAIN} {
    root * /var/www/standard-chat-ui
    file_server
}
